@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.text-heading {
  font-size: 4rem;
}

.input-group {
  width: 60%;
}

.nav-btn {
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px;
  padding: 0 20px;
}

.item-heading {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 900;
}
.image-container {
  
}

.photo-container {
  max-width: 960px;
}

@keyframes ldio-eeutm5aw6n8 {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-eeutm5aw6n8 div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-eeutm5aw6n8 linear 1s infinite;
  background: #3a3939;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.ldio-eeutm5aw6n8 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #3a3939;
}.ldio-eeutm5aw6n8 div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #3a3939;
}.ldio-eeutm5aw6n8 div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #3a3939;
}.ldio-eeutm5aw6n8 div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #3a3939;
}.ldio-eeutm5aw6n8 div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #3a3939;
}.ldio-eeutm5aw6n8 div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #3a3939;
}.ldio-eeutm5aw6n8 div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #3a3939;
}.ldio-eeutm5aw6n8 div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #3a3939;
}.ldio-eeutm5aw6n8 div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #3a3939;
}.ldio-eeutm5aw6n8 div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #3a3939;
}.ldio-eeutm5aw6n8 div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #3a3939;
}.ldio-eeutm5aw6n8 div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #3a3939;
}
.loadingio-spinner-spinner-xbv973ynled {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-eeutm5aw6n8 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}